div.skill-list {
  padding: 10px 0;
  width: 178px;
  height: 100vh;

  background-color: var(--background-color);
  border-right: var(--border);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}