.progress_container {
  width: 100%;
  overflow: hidden;
  
  position: relative;

  /* Inentificadores de área */
  border: 1px solid var(--font-color);
  background-color: #eee;
}

.progress_container span.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Inentificadores de área */
  border: 1px solid #000a;
  background-color: #cee
}

.progress_bar {
  height: 30px;
  /* Inentificadores de área */
  border: 1px solid #000a;
  background-color: #ece;
  transition: width 0.1s ease;
}
